<div class="mx-auto px-4 py-4 lg:container sm:px-8">
  <div class="grid grid-cols-1">
    <section class="overflow-x-auto rounded bg-gray-50 shadow-xl dark:bg-night-700">
      <div class="">
        <div class="relative overflow-auto bg-white shadow-md dark:bg-night-700 sm:rounded-lg">
          <div class="flex flex-col justify-between space-y-3 p-2 md:flex-row md:space-x-4 md:space-y-0">
            <div class="md:w-1/2">
              <form class="flex items-center">
                <label for="simple-search" class="sr-only">{{ 'admin.dashboard.document.list.validation.searchDocuments'
                  | translate }}</label>
                <div class="relative w-full">
                  <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                    <svg aria-hidden="true" class="h-5 w-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                      viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd" />
                    </svg>
                  </div>
                  <input type="text" id="simple-search" name="simple-search"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2 pl-10 text-sm text-gray-900 focus:border-blue-700 focus:ring-blue-700 dark:border-night-700 dark:bg-night-800 dark:text-gray-400 dark:placeholder-gray-400 dark:focus:border-blue-700 dark:focus:ring-blue-700"
                    placeholder="Rechercher un document" required="" (input)="onSearch($event)" />
                </div>
              </form>
            </div>
          </div>
          <div class="grid grid-cols-1 gap-4 p-2 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-full h-full">
            <div *ngFor="let document of getDocuments"
              class="border hover:bg-gray-100 dark:border-gray-700 dark:hover:bg-night-600 w-full h-full">
              <!-- Document details -->
              <!-- Contenu de chaque card -->
              <div class="p-4 bg-white rounded-lg shadow-md dark:bg-night-800">
                <div class="mb-4">
                  <p class="text-xl font-bold text-gray-900 dark:text-white">{{ document.getTitle | HTMLEntityDecode }}
                  </p>
                  <div class="flex space-x-2">
                    <span *ngIf="document.getIsValidated"
                      class="rounded-full bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300">Validé</span>
                    <span *ngIf="!document.getIsValidated"
                      class="rounded-full bg-yellow-100 px-2.5 py-0.5 text-xs font-medium text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300">En
                      attente de validation</span>
                  </div>
                </div>
                <p class="text-gray-700 dark:text-gray-400">{{ document.getDescription | HTMLEntityDecode }}</p>
                <!--
        <p class="truncate text-gray-700 dark:text-gray-400">
            Nom du fichier : {{ fileInfoMap.get(document.getFileUrl)?.fileName }}
        </p>
        <p class="truncate text-gray-700 dark:text-gray-400">
            Taille du fichier : {{ formatFileSize(fileInfoMap.get(document.getFileUrl)?.fileSize || 0) }}
        </p>
        <p class="truncate text-gray-700 dark:text-gray-400">
            Type du fichier : {{ fileInfoMap.get(document.getFileUrl)?.fileExtension }}
        </p>
        -->
                <div class="grid lg:grid-cols-2 md:grid-cols-1 gap-2 mt-2">
                  <div>
                    <p class="text-gray-700 dark:text-gray-400">Envoyé par :</p>
                    <p class="font-semibold text-gray-900 dark:text-white">{{ document.getSenderUser?.getEmail |
                      HTMLEntityDecode }}</p>
                  </div>
                  <div>
                    <p class="text-gray-700 dark:text-gray-400">Validé par :</p>
                    <p class="font-semibold text-gray-900 dark:text-white">{{ document.getValidatorUser?.getEmail |
                      HTMLEntityDecode }}</p>
                  </div>
                </div>
                <p class="text-gray-700 dark:text-gray-400 mt-2">Date de validation : {{ document.getValidatedAt | date
                  : 'dd/MM/yyyy à HH:mm:ss' }}</p>
                <div class="text-gray-700 dark:text-gray-400">
                  Lien :
                  <a class="text-sm text-blue-600 dark:text-blue-500 hover:underline" href="{{ document.getFileUrl }}"
                    target="_blank">
                    {{ document.getFileUrl }}
                  </a>
                </div>
              </div>
              <div *ngIf="getUser?.getRoles && hasAdminRole(getUser?.getRoles)"
                class="flex items-center overflow-auto p-4 scrollbar-thin scrollbar-thumb-rounded scrollbar-track-rounded scrollbar-track-gray-100 scrollbar-thumb-blue-400 dark:scrollbar-thumb-night-700 dark:scrollbar-track-night-800">
                <button type="button" (click)="onDocumentValidClick(document)"
                  class="m-1 flex w-full items-center justify-center rounded-lg bg-green-700 px-2 py-2 text-sm font-medium text-white focus:outline-none focus:ring-4 focus:ring-green-300 hover:bg-green-800 dark:bg-green-600 dark:focus:ring-green-800 dark:hover:bg-green-700 md:w-auto">
                  Valider
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
