<div class="mx-auto px-4 py-4 lg:container sm:px-8">
    <div
        class="flex flex-shrink-0 flex-col items-stretch justify-end space-y-2 md:flex-row md:items-center md:space-x-3 md:space-y-0">
        <button type="button" (click)="toggleDialog(DialogType.AddCategory)" id="createCategoryModalButton"
            class="flex w-full items-center justify-center rounded-lg bg-blue-700 px-4 py-2 text-sm font-medium text-white focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-blue-800 dark:bg-blue-600 dark:focus:ring-blue-800 dark:hover:bg-blue-700 md:w-auto">
            <svg class="mr-2 h-3.5 w-3.5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd"
                    d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
            </svg>
            Ajouter une catégorie
        </button>
    </div>
    <div class="grid grid-cols-1">
        <section class="overflow-x-auto rounded bg-gray-50 shadow-xl dark:bg-night-700">
            <div class="">
                <div class="relative overflow-auto bg-white shadow-md dark:bg-night-700 sm:rounded-lg">

                    <!-- Version Sans Accordion -->
                    <!--
                      <ng-container *ngFor="let category of getCategories">
                                <div class="flex flex-col justify-between space-y-3 p-2 md:flex-row md:space-x-4 md:space-y-0">
                                    <div class="max-w-sm overflow-auto rounded-lg border border-gray-200 bg-white p-6 shadow dark:border-night-700 dark:bg-night-800">
                                        <ng-container *ngIf="category; else loadingTemplate">
                                            <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ category.getName }}</p>
                                            <p class="mb-2 text-base tracking-tight text-gray-900 dark:text-white">
                                                Description : {{ category.getDescription }}
                                            </p>
                        <div class="flex items-center overflow-auto p-4 scrollbar-thin scrollbar-thumb-rounded scrollbar-track-rounded scrollbar-track-gray-100 scrollbar-thumb-blue-400 dark:scrollbar-thumb-night-700 dark:scrollbar-track-night-800">
                            <button type="button"
                                    (click)="onCategoryUpdateClick(category)"
                                    class="m-1 flex w-full items-center justify-center rounded-lg bg-blue-700 px-2 py-2 text-sm font-medium text-white focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-blue-800 dark:bg-blue-600 dark:focus:ring-blue-800 dark:hover:bg-blue-700 md:w-auto">
                                Modifier
                            </button>
                            <button type="button"
                                    (click)="onCategoryDetailClick(category)"
                                    class="m-1 flex w-full items-center justify-center rounded-lg border border-gray-200 bg-gray-300 px-2 py-2 text-sm font-medium text-gray-900 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 dark:border-night-600 dark:bg-night-800 dark:text-night-100 dark:focus:ring-night-700 dark:hover:bg-night-800 dark:hover:text-white md:w-auto">
                                Consulter
                            </button>
                            <button type="button"
                                    (click)="onCategoryDeleteClick(category)"
                                    class="m-1 flex w-full items-center justify-center rounded-lg bg-red-700 px-2 py-2 text-sm font-medium text-white focus:z-10 focus:outline-none focus:ring-4 focus:ring-red-300 hover:bg-red-800 dark:bg-red-600 dark:focus:ring-red-900 dark:hover:bg-red-700 md:w-auto">
                                Supprimer
                            </button>
                        </div>
                        </ng-container>

                        <ng-container *ngIf="category.getSubcategories && category.getSubcategories.length > 0">
                            <ng-container *ngTemplateOutlet="categoryTemplate; context: { $implicit: category.getSubcategories, level: 1 }"></ng-container>
                        </ng-container>
                    </div>
                </div>
                <ng-template #loadingTemplate>
                </ng-template>

                <ng-template #categoryTemplate let-subcategories let-level="level">
                    <div class="pl-{{ level * 4 }}">
                        <ng-container *ngFor="let subcategory of subcategories">
                            <div class="flex flex-col justify-between space-y-3 p-2 md:flex-row md:space-x-4 md:space-y-0">
                                <div class="max-w-sm overflow-auto rounded-lg border border-gray-200 bg-white p-6 shadow dark:border-night-700 dark:bg-night-800">
                                    <ng-container *ngIf="subcategory; else loadingTemplate">
                                        <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">TITRE : {{ subcategory.getName }}</p>
                                        <p class="mb-2 text-base tracking-tight text-gray-900 dark:text-white">
                                            Description : {{ subcategory.getDescription }}
                                        </p>
                                        <div class="flex items-center overflow-auto p-4 scrollbar-thin scrollbar-thumb-rounded scrollbar-track-rounded scrollbar-track-gray-100 scrollbar-thumb-blue-400 dark:scrollbar-thumb-night-700 dark:scrollbar-track-night-800">
                                            <button type="button"
                                                    (click)="onCategoryUpdateClick(subcategory)"
                                                    class="m-1 flex w-full items-center justify-center rounded-lg bg-blue-700 px-2 py-2 text-sm font-medium text-white focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-blue-800 dark:bg-blue-600 dark:focus:ring-blue-800 dark:hover:bg-blue-700 md:w-auto">
                                                Modifier
                                            </button>
                                            <button type="button"
                                                    (click)="onCategoryDetailClick(subcategory)"
                                                    class="m-1 flex w-full items-center justify-center rounded-lg border border-gray-200 bg-gray-300 px-2 py-2 text-sm font-medium text-gray-900 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 dark:border-night-600 dark:bg-night-800 dark:text-night-100 dark:focus:ring-night-700 dark:hover:bg-night-800 dark:hover:text-white md:w-auto">
                                                Consulter
                                            </button>
                                            <button type="button"
                                                    (click)="onCategoryDeleteClick(subcategory)"
                                                    class="m-1 flex w-full items-center justify-center rounded-lg bg-red-700 px-2 py-2 text-sm font-medium text-white focus:z-10 focus:outline-none focus:ring-4 focus:ring-red-300 hover:bg-red-800 dark:bg-red-600 dark:focus:ring-red-900 dark:hover:bg-red-700 md:w-auto">
                                                Supprimer
                                            </button>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="subcategory.getSubcategories && subcategory.getSubcategories.length > 0">
                                        <ng-container *ngTemplateOutlet="categoryTemplate; context: { $implicit: subcategory.getSubcategories, level: level + 1 }"></ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="subcategories[0]?.getSubcategories && subcategories[0]?.getSubcategories.length > 0">
                            <ng-container *ngTemplateOutlet="categoryTemplate; context: { $implicit: subcategories[0]?.getSubcategories, level: level + 1 }"></ng-container>
                        </ng-container>

                    </div>
                </ng-template>
                </ng-container>


                -->
                    <!-- Version avec Accordion -->
                    <ng-container *ngFor="let category of getCategories">
                        <accordion [collapsing]="getCollapsing">
                            <accordion-item [expanded]="true">
                                <ng-template accordionHeader let-toggle="toggle">
                                    <div class="flex items-center justify-between px-4 h-12 rounded-lg border border-gray-200 bg-white p-6 shadow dark:border-night-700 dark:bg-night-800">
                                        <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Catégorie : {{ category.getName }}</p>
                                        <div class="flex space-x-2">
                                            <button (click)="toggle()">+</button>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template accordionContent>
                                    <div class="p-2 md:flex md:flex-row md:space-x-4 md:space-y-0">
                                        <div class="max-w-sm overflow-auto rounded-lg border border-gray-200 bg-white p-6 shadow dark:border-night-700 dark:bg-night-800">
                                            <ng-container *ngIf="category; else loadingTemplate">
                                                <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                                    {{ category.getName | HTMLEntityDecode }}
                                                </p>
                                                <p class="mb-2 text-base tracking-tight text-gray-900 dark:text-white">
                                                    Description : {{ category.getDescription | HTMLEntityDecode }}
                                                </p>
                                                <!-- Boutons d'action -->
                                                <div class="flex items-center overflow-auto p-4 scrollbar-thin scrollbar-thumb-rounded scrollbar-track-rounded scrollbar-track-gray-100 scrollbar-thumb-blue-400 dark:scrollbar-thumb-night-700 dark:scrollbar-track-night-800">
                                                    <button type="button" (click)="onCategoryUpdateClick(category)"
                                                            class="m-1 flex w-full items-center justify-center rounded-lg bg-blue-700 px-2 py-2 text-sm font-medium text-white focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-blue-800 dark:bg-blue-600 dark:focus:ring-blue-800 dark:hover:bg-blue-700 md:w-auto">
                                                        Modifier
                                                    </button>
                                                    <button type="button" (click)="onCategoryDetailClick(category)"
                                                            class="m-1 flex w-full items-center justify-center rounded-lg border border-gray-200 bg-gray-300 px-2 py-2 text-sm font-medium text-gray-900 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 dark:border-night-600 dark:bg-night-800 dark:text-night-100 dark:focus:ring-night-700 dark:hover:bg-night-800 dark:hover:text-white md:w-auto">
                                                        Consulter
                                                    </button>
                                                    <button type="button" (click)="onCategoryDeleteClick(category)"
                                                            class="m-1 flex w-full items-center justify-center rounded-lg bg-red-700 px-2 py-2 text-sm font-medium text-white focus:z-10 focus:outline-none focus:ring-4 focus:ring-red-300 hover:bg-red-800 dark:bg-red-600 dark:focus:ring-red-900 dark:hover:bg-red-700 md:w-auto">
                                                        Supprimer
                                                    </button>
                                                </div>
                                            </ng-container>
                                            <!-- Récursivité pour afficher les sous-catégories -->
                                            <ng-container *ngIf="category.getSubcategories && category.getSubcategories.length > 0">
                                                <ng-container *ngTemplateOutlet="categoryTemplate; context: { $implicit: category.getSubcategories, level: 1, parentCategory: category }"></ng-container>
                                            </ng-container>
                                        </div>
                                    </div>
                                </ng-template>
                            </accordion-item>

                        </accordion>

                    </ng-container>

                    <ng-template #loadingTemplate>
                        <!-- Un template de chargement ou autre action si la catégorie est en cours de chargement -->
                    </ng-template>

                    <ng-template #categoryTemplate let-subcategories let-level="level"
                                 let-parentCategory="parentCategory">
                        <div class="pl-{{ level * 4 }} overflow-auto scrollbar-thin scrollbar-thumb-rounded scrollbar-track-rounded scrollbar-track-gray-100 scrollbar-thumb-blue-400 dark:scrollbar-thumb-night-700 dark:scrollbar-track-night-800">
                            <ng-container *ngFor="let subcategory of subcategories">
                                <div class="flex flex-col justify-between space-y-3 p-2 md:flex-row md:space-x-4 md:space-y-0">
                                    <div class="max-w-sm overflow-auto rounded-lg border border-gray-200 bg-white p-6 shadow dark:border-night-700 dark:bg-night-800">
                                        <ng-container *ngIf="subcategory; else loadingTemplate">
                                            <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                                {{ subcategory.getName | HTMLEntityDecode }}
                                            </p>
                                            <p class="mb-2 text-base tracking-tight text-gray-900 dark:text-white">
                                                Description : {{ subcategory.getDescription | HTMLEntityDecode }}
                                            </p>
                                            <p class="mb-2 text-base tracking-tight text-gray-900 dark:text-white">
                                                Catégorie parente : {{ parentCategory?.getName | HTMLEntityDecode }}
                                            </p>
                                            <!-- Boutons d'action -->
                                            <div class="flex items-center overflow-auto p-4 scrollbar-thin scrollbar-thumb-rounded scrollbar-track-rounded scrollbar-track-gray-100 scrollbar-thumb-blue-400 dark:scrollbar-thumb-night-700 dark:scrollbar-track-night-800">
                                                <button type="button" (click)="onCategoryUpdateClick(subcategory)"
                                                        class="m-1 flex w-full items-center justify-center rounded-lg bg-blue-700 px-2 py-2 text-sm font-medium text-white focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-blue-800 dark:bg-blue-600 dark:focus:ring-blue-800 dark:hover:bg-blue-700 md:w-auto">
                                                    Modifier
                                                </button>
                                                <button type="button" (click)="onCategoryDetailClick(subcategory)"
                                                        class="m-1 flex w-full items-center justify-center rounded-lg border border-gray-200 bg-gray-300 px-2 py-2 text-sm font-medium text-gray-900 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 dark:border-night-600 dark:bg-night-800 dark:text-night-100 dark:focus:ring-night-700 dark:hover:bg-night-800 dark:hover:text-white md:w-auto">
                                                    Consulter
                                                </button>
                                                <button type="button" (click)="onCategoryDeleteClick(subcategory)"
                                                        class="m-1 flex w-full items-center justify-center rounded-lg bg-red-700 px-2 py-2 text-sm font-medium text-white focus:z-10 focus:outline-none focus:ring-4 focus:ring-red-300 hover:bg-red-800 dark:bg-red-600 dark:focus:ring-red-900 dark:hover:bg-red-700 md:w-auto">
                                                    Supprimer
                                                </button>
                                            </div>
                                        </ng-container>

                                        <!-- Récursivement afficher les sous-catégories -->
                                        <ng-container *ngIf="subcategory.getSubcategories && subcategory.getSubcategories.length > 0">
                                            <ng-container *ngTemplateOutlet="categoryTemplate; context: { $implicit: subcategory.getSubcategories, level: level + 1, parentCategory: subcategory }"></ng-container>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                            <!-- Récursivement afficher les sous-catégories pour ce niveau -->
                            <ng-container *ngIf="subcategories[0]?.getSubcategories && subcategories[0]?.getSubcategories.length > 0">
                                <ng-container *ngTemplateOutlet="categoryTemplate; context: { $implicit: subcategories[0]?.getSubcategories, level: level + 1, parentCategory: subcategories[0] }"></ng-container>
                            </ng-container>
                        </div>
                    </ng-template>

                </div>
            </div>
        </section>

        <app-category-list-create [class.hidden]="!getDialogState[DialogType.AddCategory]"
                                  (getDialogToggled)="toggleDialog(DialogType.AddCategory)"
                                  (getCategoryCreatedEvent)="onCategoryCreated()"></app-category-list-create>

        <app-category-list-update [class.hidden]="!getDialogState[DialogType.CategoryUpdate]"
                                  (getDialogToggled)="toggleDialog(DialogType.CategoryUpdate)"
                                  [setCategory]="getSelectedCategory"
                                  [setParentCategory]="getCategoryService.findParentCategory(getSelectedCategory, getCategories)"
                                  (getCategoryUpdatedEvent)="onCategoryCreated()"></app-category-list-update>

        <app-category-list-delete [class.hidden]="!getDialogState[DialogType.CategoryDelete]"
                                  (getDialogToggled)="toggleDialog(DialogType.CategoryDelete)" [setCategory]="getSelectedCategory"
                                  (getCategoryDeletedEvent)="onCategoryDeleted()"></app-category-list-delete>

        <app-category-list-detail [class.hidden]="!getDialogState[DialogType.CategoryDetail]"
                                  (getDialogToggled)="toggleDialog(DialogType.CategoryDetail)" [setCategory]="getSelectedCategory"
                                  [setParentCategory]="getCategoryService.findParentCategory(getSelectedCategory, getCategories)"></app-category-list-detail>

    </div>
</div>
